<% layout('/layouts/boilerplate') -%>
<body>
  <div class="row mt-3">
    <div class="col col-6 offset-3">
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <p><%= message %></p>
        <!-- err.stack for deatil err info -->
      </div>
    </div>
  </div>
</body>
