<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust</title>
  </head> -->
<% layout('/layouts/boilerplate') -%>
<body>
  <div class="row mt-1">
    <div class="col-8 offset-2">
      <h3>Create New Listing</h3>
      <form
        action="/listings"
        method="post"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Add a catchy title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title Looks good!</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea
            name="listing[description]"
            cols="30"
            rows="3"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description!</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image:</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
            required
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price:</label>
            <input
              name="listing[price]"
              placeholder="3999"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price Should be Valid</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country:</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="India"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country Should be Valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="Maharashtra, Mumbai"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location Should be Valid</div>
        </div>

        <button class="btn btn-dark add-btn">Add</button>
        <br />
        <br />
      </form>
    </div>
  </div>
</body>
<!-- </html> -->
